.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

.avatar {
  width: 13rem;
  height: 13rem;
}

.content img, .img, .content video, .video {
  margin: 0 auto;
}
